/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&family=Staatliches&display=swap');

body {
    font-family: Nunito, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    justify-content: center;
    min-width: 100vw;
    min-height: 100vh;
    height: 100vh;
}

:root {
    border: 1px solid #000;
    font-size: 20px;
    --title-size: 2rem;
    --nav-font-size: 1.2rem;
}

.main {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: auto 5fr 2fr;
    width: inherit;
    height: inherit;
}

.sidebar {
    grid-area: 1 / 1 / -1 / 2;
    display: grid;
    align-content: start;
    background-color: rgb(48, 156, 228);
    color: white;
    font-weight: bold;
    padding: 20px;
    gap: 50px;
}
.sidebar .dashboard-title,
.sidebar > div > li {
    display: grid;
    grid-template-columns: 50px auto;
}
.sidebar li {
    list-style: none;
}
.sidebar a {
    text-decoration: none;
    color: white;
}
.sidebar a:hover {
    color: rgb(149, 243, 255);
}
.sidebar a:active {
    color: rgb(11, 66, 185);
}
.sidebar .dashboard-title {
    font-size: var(--title-size, 1.5rem);
}
.sidebar .sidebar-nav-primary,
.sidebar .sidebar-nav-secondary {
    display: grid;
    gap: 10px;
    font-size: var(--nav-font-size, 1.5rem);
}

.header {
    grid-area: 1 / 2 / 2 / -1;
}

.content {
    grid-area: 2 / 2 / -1 / -1;
    background-color: rgb(172, 172, 172);
}